{% extends "base.html" %}
{% load static %}

{% block body %}
    <h1 class="header p-24">Customer Relation Management</h1>

    
<div class="card-cont">
    <!-- Card -->
    <div class="card">
            <div class="card-img">
                <img src="{% static 'images/img-1.png' %}" alt=“image”>
            </div>
            <div class="card-right">
                
                <div class="card-top">
                    <h1 class="card-header">
                        Record Details
                    </h1>
                </div>
                <div class="card-body">
                    <h2 class="header">{{ record.first_name }} {{ record.last_name }}</h2>
                    <p class="phar big mb-12">Email: {{ record.email }}</p>
                    <p class="phar big mb-12">Phone: {{ record.phone }}</p>
                    <p class="phar big mb-12">Address: {{ record.address }}</p>
                    <p class="phar big mb-12">City: {{ record.city }}</p>
                    <p class="phar big mb-12">State: {{ record.state }}</p>
                    <p class="phar big mb-12">Zipcode: {{ record.zipcode }}</p>
                    <p class="phar big mb-12">Created at: {{ record.created_at }}</p>
                    <div class="btn-cont mt-24">
                        <a href="{% url 'edit_record' record.pk %}" class="btn btn-warnning">Edit details</a>
                        <a href="{% url 'delete_record' record.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?');">Delete Record</a>
                    </div>
                </div>
        </div>
    </div>
    <!-- Card -->
</div>
{% endblock %}