{% extends "base.html" %}
{% load static %}

{% block body %}
    <h1 class="header p-24">Customer Relation Management</h1>

    
<div class="card-cont">
    <!-- Card -->
    <div class="card">
            <div class="card-img">
                <img src="{% static 'images/img-1.png' %}" alt=“image”>
            </div>
            <div class="card-right">
                
                <div class="card-top">
                    <h2 class="card-header">
                        Record Details
                    </h2>
                </div>
                <div class="card-body details">
                    <h2 class="header mb-24">{{ record.first_name }} {{ record.last_name }}</h2>
                    <p class="phar big mb-12"><span class="bold">Email:</span> {{ record.email }}</p>
                    <p class="phar big mb-12"><span class="bold">Phone:</span> {{ record.phone }}</p>
                    <p class="phar big mb-12"><span class="bold">Address:</span> {{ record.address }}</p>
                    <p class="phar big mb-12"><span class="bold">City:</span> {{ record.city }}</p>
                    <p class="phar big mb-12"><span class="bold">State:</span> {{ record.state }}</p>
                    <p class="phar big mb-12"><span class="bold">Zipcode:</span> {{ record.zipcode }}</p>
                    <p class="phar big mb-12"><span class="bold">Created at:</span> {{ record.created_at }}</p>
                    <div class="btn-cont mt-24">
                        <a href="{% url 'edit_record' record.pk %}" class="btn btn-warnning">Edit details</a>
                        <a href="{% url 'delete_record' record.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?');">Delete Record</a>
                    </div>
                </div>
        </div>
    </div>
    <!-- Card -->
</div>
{% endblock %}